div.header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dae1e7;
}

div.header:not(.info){
    flex-wrap: nowrap;
}

div.header.info{
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

button{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
}

div.avatar{
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: rgb(var(--primary));
    color: #fff;
    border-radius: 50%;
    margin: 15px 20px;
    text-align: center;
    cursor: pointer;
}

div.header.info div.avatar{
    width: 56px;
    height: 56px;
    line-height: 56px;
}

div.avatar::after{
    position: relative;
    top: -10px;
    right: 30px;
    display: block;
    content: "";
    border: 2px solid #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: default;
    transition: background-color .3s;
}

div.header.info div.avatar::after{
    right: 35px;
}

div.avatar.green::after{
    background-color: rgb(var(--green));
}

div.avatar.red::after{
    background-color: rgb(var(--red));
}

div.avatar.yellow::after{
    background-color: rgb(var(--yellow));
}


div.header:not(.info) div.name,
div.header.info div.app-title{
    display: none;
}

@media only screen and (min-width: 851px) {
    button{
        display: none;
    }
}