<header>
  <div class="search-bar">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search "><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    <input type="text" placeholder="جستوجو برای ..." onfocus="this.parentElement.classList.add('focus')" onblur="this.parentElement.classList.remove('focus')" [(ngModel)]="search">
  </div>
</header>